@page
@model progPoeFinal.Pages.WorkHrs.CreateModel
@{
    ViewData["Title"] = "ADD HOURS-WORKED";
}
<h2>@ViewData["Title"]</h2><br />


@*OUTPUT MESSAGE*@
@if (Model.Message.Length > 0)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <string>@Model.Message</string>
        <button type="button" class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}


<form method="Post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Module Name:</label>
        <div class="col-sm-5">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Select Module Name</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" name="moduleName">
                <option selected name="moduleName"></option>
                @foreach(var item in Model.listModule)
                {
                    <option value="@item.Name,@item.SelfStudyHrs">@item.Name</option>
                }
              </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Hours Spent:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="hoursSpent"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date:</label>
        <div class="col-sm-5">
            <input type="date" class="form-control" name="date"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-5 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
            <br/><br/>
           <a class="btn btn-outline-primary" role="button" href="/WorkHrs/Index?id=@Request.Query["id"]">Back</a>
        </div>
    </div>
</form>